asgiref==3.8.1
coverage==7.8.0
crispy-bootstrap5==2025.4
Django==5.2
django-crispy-forms==2.4
django-environ==0.12.0
django-filter==25.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
drf-yasg==1.21.10
gunicorn==23.0.0
inflection==0.5.1
Markdown==3.8
packaging==25.0
psycopg2-binary==2.9.10
pytz==2025.2
PyYAML==6.0.2
sqlparse==0.5.3
uritemplate==4.1.1
