{% extends "base.html" %}

{% block title%}
{% endblock title%}

{% block content %}
<div class="container">
</br>
  </div>
  {% if program_obj.created_by == request.user %}
  <form method="POST" class="row">
    {% csrf_token %}
    <label class="col-lg-2"></label>
        <div class="col-lg-6">
        <input type="text" class="form-control" name="program" placeholder="{{program_obj.program}}" value="{{program_obj.program}}">
        <input type="hidden" name="done" value="{{program_obj.new}}">
    </div>
    <div class="col-lg-2">
        <button type="submit" class="btn btn-primary btn-block">Update Program</button>
    </div>
</form>
{% else %}
<p>Access Denied</p>
{% endif %}
{% endblock content %}